<section class="play-bar">
    <div class="music-info">
        <span id="currentSongTitle">---</span>
    </div>
    <div class="music-controls">
        <i id="playPauseIcon" class="fa fa-play"></i>
    </div>
    <div class="volume-controls">
        
    </div>
</section>