<section class="play-bar">
    <div class="music-info">
        <span id="currentSongTitle">---</span>
    </div>
    <div class="music-controls">
        <i id="playPauseIcon" class="fa fa-play"></i>
        <input type="range" id="progressBar">
    </div>
    <div class="volume-controls">
        <i class="fa-solid fa-volume-high"></i>
        <input
            id="volumeSlider"
            type="range"
            min="0"
            max="1"
            step="0.01"
            title="Volume"
        />
    </div>
</section>