<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <% if (user) {%>
        <h1>Welcome to NOTify, <%=user.username%>!</h1>
    <%} else {%>
        <h1>Welcome to NOTify, guest!</h1>
    <%}%>
    
    <h2>Upload your music into playlists and listen to your heart's content.</h2>
</body>
</html>