<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Explore Playlists:</h1>
    <% playlists.forEach(playlist => { %>
        <div class="playlist-item">
            <a href="/playlists/<%= playlist._id %>"><%= playlist.name %>by <%= playlist.owner.username %></a>
            
        </div>
    <% }) %>
</body>
</html>